*.safetensors filter=lfs diff=lfs merge=lfs -text binary
*.pkl filter=lfs diff=lfs merge=lfs -text binary
*.npy filter=lfs diff=lfs merge=lfs -text binary
*.index filter=lfs diff=lfs merge=lfs -text binary
*.h5 filter=lfs diff=lfs merge=lfs -text binary
*.bin filter=lfs diff=lfs merge=lfs -text binary